/*font-family: 'Noto Sans KR', sans-serif;*/
.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 1.8
}
.paper-img{
  display: block;
  margin: 0 0 -5px 20px;
  background: url('http://www.google.com/intl/en_com/images/srpr/logo3w.png');
  max-height: 180px;
  max-width: 320px;
}
.paper-img-small{
  display: block;
  margin: 0 0 -5px 20px;
  background: url('http://www.google.com/intl/en_com/images/srpr/logo3w.png');
  max-height: 90px;
  max-width: 140px;
}
/*3c78d8*/
.conf-color {
  color: #2980f1;
}
.blue {
  color: #3c78d8;
}
.gray {
  color: gray;
}
.midgray {
  color: rgb(75, 75, 75);
}
.darkgray {
  color: rgb(58, 58, 58);  
}
.secfont {
  font-size: x-large; 
  font-weight: 700;
}
.profile-img {
  max-height: 320px;
}
.wo-linebreak {
  white-space: nowrap;
}
.head-inline {
  display: inline;
}
.right {
  width: 100%;
  background-color:#ffffff;
}
.footer-cover {
  background-color: #f5f5f5;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  height: 80px;
}
.note {
  font-size: 0.9em;
  color: rgb(58, 58, 58);
  font-weight: 500;
  font-family: Arial;
  line-height:1.5;
}
.notesize{
  background-color: transparent;
  font-size: 1.6em;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.0em;
  line-height:1.5;
  text-align: left;
}
.bluenote {
  color: #2980f1;
  font-weight: 500;
  font-family: Arial;
  line-height:1.5;
}
.authors {
  color:rgb(90, 90, 90);
  font-size: 1.1em;
  font-weight: 500;
  line-height:1.2em;
  margin-top: -5px;
  margin-bottom: 3px;
  font-family: Calibri;
}
.pprint{
  background-color: transparent;
  color: rgb(75, 75, 75);  
  font-weight: 600;
  border-radius: 5px;
  padding: 0.0em;
  line-height:1.4;
  text-align: left;
}

.confsize{
  background-color: transparent;
  font-weight: 400;
  border-radius: 5px;
  padding: 0.0em;
  line-height:1.4;
  text-align: left;
}
.conf{
  /*background-color: #8b96a1;
  color: #fff;*/
  background-color: transparent;
  /* color: rgb(255, 122, 122); */
  /* color: #7344de; */
  color: #2980f1;
  width: 35em;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.0em;
  line-height:1.4;
  text-align: left;
}
.oral{
  background-color: rgb(250	227	222);
  color: rgb(187	51	28);

  width: 5.5em;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.0em;
  margin-left: 0.20em;
  margin-right: 0.20em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height:1.5;
  text-align: center;
}

.ccf {
  background-color: rgb(222	236	220);
  color: rgb(85	134	76);
  width: 5.5em;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.0em;
  margin-left: 0.20em;
  margin-right: 0.20em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height:1.5;
  text-align: center;
}

.sci {
  background-color: rgb(230	222	237);
  color: rgb(124	94	147);
  width: 5.5em;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.0em;
  margin-left: 0.20em;
  margin-right: 0.20em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height:1.5;
  text-align: center;
}

.core {
  background-color: rgb(245	223	204	);
  color: rgb(191	125	75);
  width: 5.5em;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.0em;
  margin-left: 0.20em;
  margin-right: 0.20em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height:1.5;
  text-align: center;
}

.thcpl {
  background-color: #e7e7e7;
  color: rgb(75, 75, 75);
  width: 5.5em;
  font-weight: 800;
  border-radius: 5px;
  padding: 0.0em;
  margin-left: 0.20em;
  margin-right: 0.20em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  line-height:1.5;
  text-align: center;
}
.footer {
  padding-top: 10px;
}
.no-tb-padding{
  padding-top: -10px;
  padding-bottom: -10px;
}
.no-lr-padding {
  padding-left: 0;
  padding-right: 0;
}
.thumbnail {
  width: 100%;
  height: 100px;
  margin: 0;
}
.bbold{
  font-weight: 500;
}
.bbbold{
  font-weight: 700;
}
.ssmall{
  font-size: 1.0em;
}
.popup {
  font-size: .8em;
  display: inline-block;
  border: 2px dotted #000;
  border-radius: 15px;
  border-color:rgba(0, 0, 0, 0.3);
  background-color:transparent;
  display:none;
  width: 100%;
  line-height:1.5;
  padding: 1em;
  margin: .5em;
  font-family: 'Courier New', Courier, monospace;
}
.popup-news {
  font-size: 0.9em;
  display: inline-block;
  border-radius: 10px;
  background-color: #e8edff;  
  width: 80%;
  font-weight: 400;
  line-height:1.5;
  display:none;
  padding: 1em;
  margin: .5em;
  margin-top: .2em;
  padding-top: .3em;
  padding-bottom: .3em;
  margin-left: 6em;
}

.badge {
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 15px;
  padding: 1em;
  padding-bottom: .4em;  
}


.badge:empty {
  display: none;
}

.badge-pill {
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-radius: 1em;
}


.badge-nnew {
  color: #fff;
  background-color: #fa8072;
}
.badge-secondary {
  color: #ffffff;
  background-color: #cccccc;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.badge-code {
  color: #fff;
  background-color: #95ADB6;
  border-color: transparent;
  height:1.6em;
}
.badge-code:hover, .badge-code:focus {
  color: #fff;
  text-decoration: none;
  background-color: #fa8072;
}

.badge-tbd {
  color: #fff;
  background-color: #b7becf;
  border-color: transparent;
  height:1.6em;
}

.badge-bibtex {
  color: #fff;
  background-color: #DBC7BE;
  border-color: transparent;
}
.badge-bibtex[href]:hover, .badge-bibtex[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #68717a;
}

.badge-project {
  color: #fff;
  background-color: rgb(139, 229, 154);
  border-color: transparent;
  height:1.6em;
}
.badge-project:hover, .badge-project:focus {
  color: #fff;
  text-decoration: none;
  background-color: #29f1ae;
}

.badge-pdf {
  color: #fff;
  background-color: rgb(139, 193, 229);
  border-color: transparent;
  height:1.6em;
}
.badge-pdf:hover, .badge-pdf:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2980f1;
}

.badge-more {
  color: #fff;
  background-color: #95baef;
  border-color: transparent;
}
.badge-more[href]:hover, .badge-more[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0f448a;
}
.badge-conf {
  color: #fff;
  background-color: #545b62;
  border-color: transparent;
  font-size: 2em;
  font-weight: 300;
  line-height: 2;
}
.badge-conf-oral {
  color: #fff;
  background-color: #EDD28F;
  border-color: transparent;
}
.badge-color1 {
  color: #fff;
  background-color: #DBC7BE;
}
.badge-color2 {
  color: #fff;
  background-color: #EF959C;
}
.badge-color3 {
  color: #fff;
  background-color: #CBB3BF;
}
.badge-color4 {
  color: #fff;
  background-color: #95ADB6;
}
.badge-color5 {
  color: #fff;
  background-color: #EDD28F;
  font-size: 13px;
}
.badge-color5-2 {
  color: #fff;
  text-decoration: none;
  background-color: #545b62;
}

.badge-color6 {
  color: #fff;
  background-color: #28a745;
}

.badge-color6-2 {
  color: #fff;
  text-decoration: none;
  background-color: #1e7e34;
}

.badge-color7 {
  color: #fff;
  background-color: #17a2b8;
}

.badge-color7-2 {
  color: #fff;
  text-decoration: none;
  background-color: #117a8b;
}
